<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=accelerateU9b61;pwd=&quot;%F!=:U{dA2tu&quot;;Database=accelerate-db" name="accelerate-db" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
